
	<!-- begin:heading -->
	<div class="heads" style="background: url(/img/img02.jpg) center center;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2><span>//</span></h2>
				</div>
			</div>
		</div>
	</div>
	<!-- end:heading -->
	<div class="page-content">
		<div class="container">
            <h4> Please complete registration by verifying your email address. Go to your mail box and complete the email verification.</h4>
		</div>
	</div>
