<div class="auth">
    <div class="auth-container">
        <div class="card">
            <header class="auth-header">
                <h1 class="auth-title">
                    {{> _common/logo/logo}}
                    {{themeTitle}}
                </h1>
            </header>
            <div class="auth-content">
                <p class="text-center">
                    <h2>{{errorResponse.body.message}}</h2>
                    <br/>
                    <h4>{{errorResponse.code}} : {{errorResponse.body.subMessage}}</h4>
                </p>
            </div>
        </div>
        <div class="text-center">
            <a href="/" class="btn btn-secondary btn-sm">
                <i class="fa fa-arrow-left"></i> Back to dashboard
            </a>
        </div>
    </div>
</div>