    <div class="heads" style="background: url(/img/img02.jpg) center center;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2><span>// </span>Error Occured</h2>
                </div>
            </div>
        </div>
    </div>


    <div class="page-content">
        <div class="container">
            <h2>{{errorResponse.body.message}}</h2>
            <h4>{{errorResponse.code}} : {{errorResponse.body.subMessage}}</h4>
        </div>
    </div>
