
	<!-- begin:heading -->
	<div class="heads" style="background: url(/img/img02.jpg) center center;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2><span>//</span></h2>
				</div>
			</div>
		</div>
	</div>
	<!-- end:heading -->
	<div class="page-content">
		<div class="container">
            <h4>  Registration Success. Please verify your email address by going to your mailbox. </h4>
		</div>
	</div>
