 <div class="auth">
    <div class="auth-container">
        <div class="card">
            <header class="auth-header">
                <h1 class="auth-title">
                    {{> _common/logo/logo}}
                    {{themeTitle}}
                </h1>
            </header>
            <div class="auth-content">
                <p class="text-center">
                <h4>  {{successMessage}} </h4>
                </p>
            </div>
        </div>
        {{#if showLoginBtn}}
            <div class="text-center">
                <a href="/login" class="btn btn-secondary btn-sm">
                    <i class="fa fa-arrow-left"></i> Login
                </a>
            </div>
        {{else}}
        <div class="text-center">
            <a href="/" class="btn btn-secondary btn-sm">
                <i class="fa fa-arrow-left"></i> Back to dashboard
            </a>
        </div>
        {{/if}}
    </div>
 </div>