
    <!-- begin:heading -->
    <div class="heads" style="background: transparent url(&quot;img/img02.jpg&quot;) repeat scroll center center; padding: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2><span>//</span> Log in</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- end:heading -->
    
    <!-- begin:content -->
    <div class="page-content">
        <div class="container">
            
            
            <div class="row confirm">
                <div class="col-md-6">
                    <div id="nav_login_div" class="">
                    <h3 class='text-center'>Log In</h3>

                    <hr>
		    <form _lpchecked="1" class="form-horizontal" role="form" action="/user/uploaddata" method="post" encType="multipart/form-data">
                <div class="form-group col-sm-3">
                    <label for="exampleFormControlFile1">Example file input</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="uploadfile">
                </div>


                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-6">
                              <button type="submit" id="nav_login_button" style="width : 100%" class="btn btn-green">Log In</button>
                            </div>
                        </div>
                    </form>
                    </div>

                </div>


            </div>
        </div>
    </div>
    <!-- end:content -->

