Hi {{userName}} , <br><br>

Your reset password link for Portfolio-Insights is : <a href="{{resetPasswordLink}}">{{resetPasswordLink}}</a>.<br>

Please click on it to reset the password! <br><br>

Regards, <br>
Portfolio-Insights


